@model MindShadow.Models.Gardian

@{
    ViewBag.Title = "GardianRegistration";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div style="width: 650px; border: 1px solid gray; background-color: #95e69d; border-radius: 10px; margin-top: 20px " class="container">
        <div class="Bhome1">
            @Html.ActionLink("already have account!Login here", "Login", "User", new { @class = " Bhome1" })
        </div>

        <div class="row">
            <center>
                <img class="mt-2" style="width:100px;" src="~/Content/img/user.png" />
                <h3>Gardian Registration</h3>
                <hr />
            </center>
        </div>
        <h2 style="text-decoration:underline;text-decoration-thickness:2px" class="text-secondary">Gardian Details:</h2>
        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Enter Your Name<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Placeholder = "type your full name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Date of Birth</lebel>
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Email Id </lebel>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Enter proper email id", type = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Relation<span style="color:red">*</span> </lebel>
                <select @Html.EditorFor(model => model.Relation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Relation, "", new { @class = "text-danger" })>
                    <option>Relation with Gardian</option>
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Brother</option>
                    <option>Sister</option>
                    <option>GrandFather</option>
                    <option>GrandMother</option>
                    <option>Uncle</option>
                    <option>Nephew</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Mobile Number<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Phone_No, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Phone Number" } })
                @Html.ValidationMessageFor(model => model.Phone_No, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Gender<span style="color:red">*</span> </lebel>

                <select @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })>
                    <option>Choose Your Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>

            </div>
        </div>

        <div class="row me-3 ms-0 mt-2">
            <lebel class="form-label">Address<span style="color:red">*</span> </lebel>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>

        <div class="row me-2">
            <div class="col-4 mt-2">
                <span>State<span style="color:red">*</span></span><br />
                <select class="form-control"
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        required>
                    <option>Choose your state</option>
                    <option>West Bengal</option>
                    <option>Haryana</option>
                    <option>Jharkhand</option>
                    <option>Kerala</option>
                    <option>Bihar</option>
                    <option>Delhi</option>
                    <option>Madhya Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Karnataka</option>
                </select>
            </div>
            <div class="col-4 mt-2">
                <lebel class="form-label">City<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "City" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
            <div class="col-4 mt-2">
                <lebel class="form-label">Pincode<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Postal Address" } })
                @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
            </div>
        </div>
        <h2 style="text-decoration:underline;text-decoration-thickness:2px" class="text-secondary mt-4">Patient Details:</h2>
        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Patient Name<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Patient_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Patient_Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Date of Birth</lebel>
                @Html.EditorFor(model => model.Patient_DOB, new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                @Html.ValidationMessageFor(model => model.Patient_DOB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Age<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Patient_Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Patient_Age, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Gender<span style="color:red">*</span> </lebel>
                <select @Html.EditorFor(model => model.Patient_Gender, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Patient_Gender, "", new { @class = "text-danger" })>
                    <option>Choose Your Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Mobile Number<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Patient_Phone_No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Patient_Phone_No, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Email </lebel>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Enter proper email id", type = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row me-3 ms-0 mt-2">
            <lebel class="form-label">Address<span style="color:red">*</span> </lebel>
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
        <div class="row me-2">
            <div class="col-4 mt-2">
                <span>State<span style="color:red">*</span></span><br />
                <select class="form-control"
                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        required>
                    <option>Choose your state</option>
                    <option>West Bengal</option>
                    <option>Haryana</option>
                    <option>Jharkhand</option>
                    <option>Kerala</option>
                    <option>Bihar</option>
                    <option>Delhi</option>
                    <option>Madhya Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Karnataka</option>
                </select>
            </div>
            <div class="col-4 mt-2">
                <lebel class="form-label">City<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "City" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
            <div class="col-4 mt-2">
                <lebel class="form-label">Pincode<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Postal Address" } })
                @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">User Id<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Gardian_Id, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Create Your user Id", @Type = "Password", @id = "userBtn1" } })
                @Html.ValidationMessageFor(model => model.Gardian_Id, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Retype User Id<span style="color:red">*</span> </lebel>
                <input id="userBtn2" type="text" class="form-control" placeholder=" Retype Your User Id" required />
            </div>

        </div>
        <div class="row">
            <div class="col-6 mt-2">
                <lebel class="form-label">Password<span style="color:red">*</span> </lebel>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "Create Your Password", @Type = "Password", @id = "passBtn1" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-6 mt-2">
                <lebel class="form-label">Retype Password<span style="color:red">*</span> </lebel>
                <input id="passBtn2" type="text" class="form-control" placeholder=" Retype Your Password" required />
            </div>
        </div>

        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                By accessing this website we assume you accept these terms and conditions. Do not continue to use SmartShopper.in if you do not agree to take all of the terms and conditions stated on this page.
            </label>
        </div>

        <div class="d-grid gap-2 col-11 mx-auto mt-4 mb-2 col-md-offset-2">
            <button id="submitBtn" class="btn btn-success" type="submit">SignUp</button>
        </div>
        <script src="~/Content/JavaScript/Custom.js"></script>

        <div>
            @Html.ActionLink("<<Back to Home>>", "Index", "Home", new { area = "" }, new { @class = "text-decoration-none Bhome" })
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
