@model MindShadow.Models.Help

@{
    ViewBag.Title = "NeedHelp";
}

<div class="dashboard d-flex">
    <i class="fa-solid fa-bars me-2 dashboard-burger-icon" onclick="openNav()"></i>
    <h4 class="dashborad-snav ">Dashboard</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container m-auto text-center mt-2 help-item-1">
        <h4>We are always with you to solve your prolem. please send your problem without feeling any hesitate.Thank You!</h4>
    </div>

    <div class="container help-item">
        <div class="row mt-2 mx-1">
            <label>Name</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "your full name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="row mt-2 mx-1">
            <label>Email</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = "example@gmail.com" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="row mt-2 mx-1 ">
            <label>Problem Description[Within 300 Words]</label>
            @Html.TextAreaFor(model => model.Problem, 8, 30, new { htmlAttributes = new { }, @class = "form-control", @PlaceHolder = "Write Your Query in deatils within 300 words" })
            @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
        </div>

        <button class="btn btn-success mt-2 mb-2 w-25 " type="submit">Submit</button>
        <div class="text-start">
            @Html.ActionLink("<<Back to Home>>", "Index", "Home", new { area = "" }, new { @class = "text-decoration-none " })
        </div>



        <div style="" id="sideNav" class="side-nav">
            <span class="close-btn" onclick="closeNav()">&times;</span>
            <img class="User-img" src="~/Content/Img/user.png" alt="User Image">
            <h4 style="text-align: center;" class="fw-bold my-2">User Name</h4>
            @Html.ActionLink("\u2B9A AI Assistant", "AiAssistant", "Home", new { area = "" }, new { @class = "side-nav-items" })
            @Html.ActionLink("\u2B9A Take self assesment test", "AiAssistant", "Home", new { area = "" }, new { @class = "side-nav-items", @Id = "selftest-item" })
            @Html.ActionLink("\u2B9A BMI Calculator", "LoginBmi", "Home", new { area = "" }, new { @class = "side-nav-items" })
            @Html.ActionLink("\u2B9A Consult a specialist", "ConsultSpecialist", "Home", new { area = "" }, new { @class = "side-nav-items" })
            @Html.ActionLink("\u2B9A Nearby Hospitals", "NearbyHospital", "Home", new { area = "" }, new { @class = "side-nav-items" })
            @Html.ActionLink("\u2B9A Nearby Clinics", "NearbyClinic", "Home", new { area = "" }, new { @class = "side-nav-items" })
            @Html.ActionLink("\u2B9A Need Help?", "NeedHelp", "Home", new { area = "" }, new { @class = "side-nav-items" })
            @Html.ActionLink("\u2B9A Settings", "Settings?", "Home", new { area = "" }, new { @class = "side-nav-items" })
        </div>

        <script>
            function openNav() {
                document.getElementById("sideNav").style.width = "250px";
                document.getElementById("sideNav").style.height = "1015px";
                let positioButton = document.getElementById("sideNav").style.position = "absolute";
                document.body.style.backgroundColor = "#9d9d9d";
                if (positioButton === "absolute") {
                    document.getElementById("sideNav").style.marginTop = "150px";
                }
            }

            function closeNav() {
                document.getElementById("sideNav").style.width = "0";
                document.getElementById("sideNav").style.height = "0";
                document.body.style.backgroundColor = "white";
            }
            let selfButton = document.getElementById('selftest-item')
            selfButton.addEventListener('click', () => {
                alert("Error!Service not available at this time!")
            })
        </script>
    </div>

}
